.character-container {
  max-width: 800px;
  margin: auto;

  border-radius: 10px;
  box-sizing: border-box;

  mat-card-title {
    font-weight: 500;
  }
  mat-progress-spinner {
    margin-top: 1rem;
  }
  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem; // Adds spacing between form fields
  }

  .image-hint {
    padding-inline: 1rem;
    font-size: 0.8rem;
  }
  form {
    padding: 1rem;
    .form-wrapper {
      display: flex;

      gap: 0.5rem;
      // flex-wrap: wrap; // Helps with responsive stacking

      .character-field {
        flex: 1 1 40%; // 40% of the container, flexible
      }

      mat-form-field {
        flex: 1 1 30%;
        min-width: 100px; // Prevents from collapsing too small
      }
    }

    mat-form-field {
      width: 100%;
    }
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;

    button {
      min-width: 120px;
    }
  }
}

// 🟨 The image and its wrapper are outside .character-container
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-top: 1rem;
  }
}

.character-wrapper {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

// ✅ Responsive layout
@media (max-width: 768px) {
  .character-container {
    max-width: 90%;
    padding: 1rem;
  }
  form {
    .form-wrapper {
      flex-wrap: wrap;
    }
  }

  .button-group {
    align-items: center;
    flex-wrap: wrap;
    gap: 0rem;
    button {
      width: 100%;
      margin-top: unset;
    }
  }

  .character-wrapper {
    max-width: 90%;
    padding: 1rem;
  }
}
