<mat-toolbar>
  <div class="toolbar-content">
    <button class="title-btn" mat-button routerLink="/">iWriter</button>
    <div class="nav-btn-wrapper">
      <button class="nav-btn" mat-button routerLink="/editor">Editor</button>
      <button class="nav-btn" mat-button routerLink="/characters">
        Character Design
      </button>
      <button class="nav-btn" mat-button routerLink="/about">About</button>
      <button class="nav-btn" mat-button routerLink="/settings">
        Settings
      </button>

      <!-- <mat-slide-toggle (change)="toggleDarkMode()">Dark Mode</mat-slide-toggle> -->
    </div>
  </div>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
