<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="mobile-sidenav"
    mode="over"
    position="end"
    [opened]="false"
    role="navigation"
  >
    <mat-slide-toggle
      class="mobile-toggle"
      [checked]="isDarkMode"
      (change)="toggleDarkMode()"
    >
      <mat-icon class="mode-icon">{{
        isDarkMode ? "dark_mode" : "light_mode"
      }}</mat-icon>
    </mat-slide-toggle>
    <button
      mat-icon-button
      class="close-menu-button"
      (click)="sidenav.toggle()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <div class="mobile-btn-container">
      <button mat-button routerLink="/editor" (click)="sidenav.close()">
        Editor
      </button>
      <button mat-button routerLink="/characters" (click)="sidenav.close()">
        Character Design
      </button>
      <button mat-button routerLink="/about" (click)="sidenav.close()">
        About
      </button>
    </div>
  </mat-sidenav>

  <mat-toolbar class="main-toolbar" color="primary">
    <button mat-button routerLink="/" class="title no-styles">DRAFTLY</button>

    <span class="spacer"></span>

    <!-- Desktop nav -->
    <div class="nav-btn-wrapper">
      <button class="nav-btn" mat-button routerLink="/editor">Editor</button>
      <button class="nav-btn" mat-button routerLink="/characters">
        Character Design
      </button>
      <button class="nav-btn" mat-button routerLink="/about">About</button>

      <mat-slide-toggle [checked]="isDarkMode" (change)="toggleDarkMode()">
        <mat-icon class="mode-icon">{{
          isDarkMode ? "dark_mode" : "light_mode"
        }}</mat-icon>
      </mat-slide-toggle>
    </div>
    <button
      mat-icon-button
      class="mobile-menu-button"
      (click)="sidenav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
