.character-list-container {
  mat-card-title {
    font-weight: 500;
  }

  mat-list-item {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer !important;
    transition: background-color 0.2s ease-in-out;
    border-radius: 4px;
    position: relative;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.2);
    }

    .character-content {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .character-image {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      object-fit: cover;
      background-color: #f0f0f0;
    }

    .character-details {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        font-weight: 500;
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .meta {
        font-size: 12px;
        color: #777;
      }
    }

    .delete-button {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      flex-shrink: 0;
      margin-left: 10px;
    }
  }

  .new-char-btn {
    display: flex;
    margin-left: auto;
  }

  .empty-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    mat-icon {
      color: var(--grey-text);
      font-size: 2rem;
      width: 2rem;
      height: 2rem;
      margin-left: 1rem;
    }
    .subtitle {
      display: flex;
      color: var(--grey-text);
      align-items: center;
    }
  }
}
