<mat-card class="editor-container" appearance="outlined">
  <div class="editor">
    <mat-card-header class="title-container">
      <div class="editor-title" [ngClass]="{ fullWidth: titleEditOpen() }">
        @if (!titleEditOpen()) {

        <mat-card-title class="editor-title">{{
          currDraft()?.title ?? draftTitle()
        }}</mat-card-title>
        <button (click)="titleEditOpen.set(true)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        }@else {
        <app-edit-title
          [initialTitle]="currDraft()?.title || 'Untitled Draft'"
          (titleSaved)="updateTitle($event)"
          (cancelEdit)="titleEditOpen.set(false)"
        >
        </app-edit-title>

        }
      </div>
      @if (!titleEditOpen()) {
      <div class="button-group">
        <button
          [disabled]="!editorContent()"
          mat-fab
          extended
          (click)="exportToPDF()"
        >
          <mat-icon>download</mat-icon>PDF
        </button>
        <button
          class="back-btn"
          mat-fab
          extended
          color="accent"
          (click)="backToDrafts()"
        >
          <mat-icon>arrow_back</mat-icon>Back
        </button>
      </div>
      }
    </mat-card-header>

    <mat-card-content>
      <quill-editor
        [readOnly]="editorDisabled()"
        [modules]="quillConfig"
        #editor
        (onContentChanged)="onContentChanged($event)"
        (onSelectionChanged)="onSelectionChanged($event)"
        [styles]="{ height: '300px', width: '100%' }"
      >
      </quill-editor>

      <div class="button-group">
        <button
          mat-flat-button
          color="primary"
          (click)="analyzeSelectedText()"
          [disabled]="!selectedText() || editorDisabled()"
        >
          Analyze
        </button>
        <!-- Save & Load Drafts -->
        <button
          [disabled]="!dirty() || editorDisabled()"
          mat-stroked-button
          color="accent"
          (click)="saveCurrentDraft()"
        >
          Save Draft
        </button>
      </div>
    </mat-card-content>
  </div>

  <mat-card-footer class="suggestions-sidebar">
    <mat-card-content class="footer-content">
      @if (loading()) {
      <div class="loading-display">
        <div class="img-container">
          <img src="assets/images/thinking.svg" class="icon-svg pulse" />
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <p>Analyzing...</p>
      </div>

      }@else { @if (!currentSuggestion()) {

      <div class="hint">
        <p>Highlight a section of text for instant suggestions!</p>
        <img src="assets/images/message.svg" class="icon-svg" />
      </div>

      } @else if(!!currentSuggestion() && selectedText()){
      <p><strong>Original:</strong> {{ selectedText() }}</p>

      <p><strong>Suggestion:</strong> {{ currentSuggestion()?.suggestion }}</p>
      <div class="button-group">
        <button mat-flat-button color="primary" (click)="acceptSuggestion()">
          Accept
        </button>
        <button mat-stroked-button color="warn" (click)="declineSuggestion()">
          Decline
        </button>
      </div>
      } }
    </mat-card-content>
  </mat-card-footer>
</mat-card>
