$quill-radius: 0.5rem;

.editor-container {
  display: flex;
}

.editor {
  flex: 2;
  quill-editor {
    flex: 1;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    //Override quill border radii
    ::ng-deep {
      .ql-container {
        border-bottom-left-radius: $quill-radius;
        border-bottom-right-radius: $quill-radius;
      }
      .ql-toolbar {
        border-top-left-radius: $quill-radius;
        border-top-right-radius: $quill-radius;
      }
    }
  }
  .title-container {
    margin-bottom: 1rem;
    margin-top: -0.5rem;
    // max-height: 40px;
    .editor-title {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: 500;
    }
    .button-group {
      margin-left: auto;
    }
  }
}

.suggestions-sidebar {
  .footer-content {
    padding-top: 0;
  }
  flex: 1;
  .hint {
    background-color: #d7e3ff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 1rem;
    img {
      width: 3rem;
    }
  }

  .loading-display {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    .img-container {
      position: relative;
      img {
        position: absolute;
        width: 3rem;
        height: 3rem;
        top: 1.5rem;

        left: 1.5rem;
      }
    }
  }
}

.button-group {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(1.1); /* Scale up */
  }
}

/* Apply the animation to a class */
.pulse {
  animation: pulse 1s ease-in-out infinite; /* Duration: 1s, Easing: ease-in-out, Iteration: infinite */
}
