.editor-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.editor {
  flex: 2;
  quill-editor {
    flex: 1;
    width: 100%;
    max-width: 100%;
  }
  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
    .editor-title {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: bold;
    }
  }
}

.suggestions-sidebar {
  flex: 1;
  .hint {
    display: flex;
    align-items: center;
    gap: 1rem;
    mat-icon {
      font-size: 2rem;
      height: 2rem;
      width: 2rem;
    }
  }
}

.button-group {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
