$quill-radius: 0.5rem;

.editor-container {
  display: flex;
  gap: 20px;
}

.editor {
  flex: 2;
  quill-editor {
    flex: 1;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    //Override quill border radii
    ::ng-deep {
      .ql-container {
        border-bottom-left-radius: $quill-radius;
        border-bottom-right-radius: $quill-radius;
      }
      .ql-toolbar {
        border-top-left-radius: $quill-radius;
        border-top-right-radius: $quill-radius;
      }
    }
  }
  .title-container {
    margin-bottom: 1rem;
    .editor-title {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: bold;
    }
    .back-btn {
      margin-left: auto;
    }
  }
}

.suggestions-sidebar {
  flex: 1;
  .hint {
    display: flex;
    align-items: center;
    gap: 1rem;
    mat-icon {
      font-size: 2rem;
      height: 2rem;
      width: 2rem;
    }
  }
}

.button-group {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.mat-mdc-extended-fab {
  --mdc-extended-fab-container-elevation-shadow: 0 0 0 0 unset;
  --mdc-extended-fab-hover-container-elevation-shadow: 0 0 0 0 unset;
  --mdc-extended-fab-focus-container-elevation-shadow: 0 0 0 0 unset;
  --mdc-extended-fab-pressed-container-elevation-shadow: 0 0 0 0 unset;
  height: unset;
  border-radius: 2rem;
}
