.sidenav-container {
  height: 100%;
}
.sidenav-container .no-styles {
  background: none;
}
.sidenav-container button {
  font-size: 1rem;
}
.sidenav-container .mobile-btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.sidenav-container .mobile-toggle {
  position: absolute;
  left: 1rem;
}
.sidenav-container .close-menu-button {
  display: block;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.content-wrapper {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}

.main-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.main-toolbar .mobile-menu-button {
  display: none;
}
.main-toolbar .title {
  font-size: 1.5rem;
  font-weight: 500;
}
.main-toolbar .nav-btn-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.main-toolbar .spacer {
  flex: 1;
}

mat-slide-toggle mat-icon {
  display: block;
}

@media (max-width: 768px) {
  .main-toolbar .nav-btn-wrapper {
    display: none;
  }
  .main-toolbar .mobile-menu-button {
    display: inline-flex;
  }
  .content-wrapper {
    padding: 1rem;
  }
  .mobile-sidenav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
}