.container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

mat-toolbar {
  display: flex;
  justify-content: center;
}
mat-toolbar .toolbar-content {
  display: flex;
  width: 100%;
  max-width: 900px;
  justify-content: space-between;
}
mat-toolbar .title-btn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
mat-toolbar .nav-btn-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}