.character-list-container mat-card-title {
  font-weight: 500;
}
.character-list-container mat-list-item {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer !important;
  transition: background-color 0.2s ease-in-out;
  border-radius: 4px;
  position: relative;
}
.character-list-container mat-list-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.character-list-container mat-list-item:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.character-list-container mat-list-item .character-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.character-list-container mat-list-item .character-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #f0f0f0;
}
.character-list-container mat-list-item .character-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.character-list-container mat-list-item .character-details .title {
  font-weight: 500;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.character-list-container mat-list-item .character-details .meta {
  font-size: 12px;
  color: #777;
}
.character-list-container mat-list-item .delete-button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  flex-shrink: 0;
  margin-left: 10px;
}
.character-list-container .new-char-btn {
  display: flex;
  margin-left: auto;
}
.character-list-container .empty-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.character-list-container .empty-box mat-icon {
  color: var(--grey-text);
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}
.character-list-container .empty-box .subtitle {
  display: flex;
  color: var(--grey-text);
  align-items: center;
}