.draft-list-container mat-card-title {
  font-weight: 500;
}
.draft-list-container mat-spinner {
  margin: auto;
}
.draft-list-container mat-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer !important;
  transition: background-color 0.2s ease-in-out;
  border-radius: 4px;
}
.draft-list-container mat-list-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.draft-list-container mat-list-item:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.draft-list-container .title {
  font-weight: 500;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.draft-list-container .date {
  font-size: 12px;
}
.draft-list-container .new-draft-btn {
  display: flex;
  margin-left: auto;
}
.draft-list-container .delete-button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  flex-shrink: 0;
  margin-left: 10px;
}
.draft-list-container .empty-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.draft-list-container .empty-box mat-icon {
  color: var(--grey-text);
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}
.draft-list-container .empty-box .subtitle {
  display: flex;
  color: var(--grey-text);
  align-items: center;
}