.editor-container {
  display: flex;
}

.editor {
  flex: 2;
}
.editor quill-editor {
  flex: 1;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}
.editor quill-editor ::ng-deep .ql-container {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.editor quill-editor ::ng-deep .ql-toolbar {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.editor .title-container {
  margin-bottom: 1rem;
}
.editor .title-container .editor-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}
.editor .title-container .button-group {
  margin-left: auto;
}

.suggestions-sidebar {
  flex: 1;
}
.suggestions-sidebar .footer-content {
  padding-top: 0;
}
.suggestions-sidebar .hint {
  background-color: #d7e3ff;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 1rem;
}
.suggestions-sidebar .hint img {
  width: 4rem;
}
.suggestions-sidebar .loading-display {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.suggestions-sidebar .loading-display .img-container {
  position: relative;
}
.suggestions-sidebar .loading-display .img-container img {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 1.5rem;
  left: 1.5rem;
}

.button-group {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(1.1); /* Scale up */
  }
}
/* Apply the animation to a class */
.pulse {
  animation: pulse 1s ease-in-out infinite; /* Duration: 1s, Easing: ease-in-out, Iteration: infinite */
}