/* You can add global styles to this file, and also import other style files */
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";

$off-white: #c5c5c5;

:root {
  --grey-text: #808080; // Optional: CSS variable for flexibility
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body.dark-mode {
  background-color: #121212;
  color: $off-white;

  mat-toolbar {
    background: #1e1e1e !important;
    color: $off-white;
    .nav-btn {
      background-color: $off-white;
    }
  }
  mat-card {
    background: #1e1e1e;
    color: $off-white;
  }

  .ql-container {
    background: #333;
    color: $off-white;
  }
}

.mat-mdc-extended-fab {
  --mdc-extended-fab-container-elevation-shadow: 0 0 0 0 unset;
  --mdc-extended-fab-hover-container-elevation-shadow: 0 0 0 0 unset;
  --mdc-extended-fab-focus-container-elevation-shadow: 0 0 0 0 unset;
  --mdc-extended-fab-pressed-container-elevation-shadow: 0 0 0 0 unset;
  height: 40px !important;
  border-radius: 2rem !important;
}
