/* You can add global styles to this file, and also import other style files */
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";

$off-white: #c5c5c5;

:root {
  --grey-text: #808080; // Optional: CSS variable for flexibility
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body.dark-mode {
  background-color: #121212;
  color: $off-white;

  mat-toolbar {
    background: #1e1e1e !important;
    color: $off-white;
    .nav-btn {
      background-color: $off-white;
    }
    .title-btn {
      color: $off-white !important;
    }
  }
  mat-card {
    background: #1e1e1e;
    color: $off-white;
    .hint {
      color: $off-white !important;
      background-color: transparent !important;
    }
  }
  mat-list-item {
    background-color: transparent; // default background
    color: $off-white;

    &:hover {
      background-color: rgba(255, 255, 255, 0.08); // subtle hover
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.12); // click effect
    }

    .title,
    .date,
    .character-name,
    .meta,
    .name {
      color: $off-white;
    }

    .delete-button mat-icon {
      color: lighten($off-white, 10%); // slightly brighter for visibility
    }
  }

  // Optional: style the fallback image background too
  .character-image {
    background-color: #444; // darker fallback color
  }
  .ql-container {
    background: #333;
    color: $off-white;
  }
}

.mat-mdc-extended-fab {
  --mdc-extended-fab-container-elevation-shadow: 0 0 0 0 unset;
  --mdc-extended-fab-hover-container-elevation-shadow: 0 0 0 0 unset;
  --mdc-extended-fab-focus-container-elevation-shadow: 0 0 0 0 unset;
  --mdc-extended-fab-pressed-container-elevation-shadow: 0 0 0 0 unset;
  height: 40px !important;
  border-radius: 2rem !important;
}
