/* You can add global styles to this file, and also import other style files */
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";

$off-white: #c5c5c5;

:root {
  --grey-text: #808080; // Optional: CSS variable for flexibility
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body.dark-mode {
  background-color: #121212;
  color: $off-white;
  mat-sidenav-content,
  mat-sidenav {
    background-color: #121212;
  }
  // Disabled buttons
  button:disabled {
    color: rgba(255, 255, 255, 0.3) !important;
    border: 1px solid rgba(243, 243, 243, 0.3);
  }

  .mobile-btn-container button {
    color: $off-white;
  }

  // Outlined buttons
  button.mdc-button--outlined {
    color: $off-white;
    background-color: #444;
    border-color: rgba(255, 255, 255, 0.3);
  }

  // Icon buttons
  .mdc-icon-button {
    color: $off-white;
  }

  // Inputs
  input,
  textarea,
  .mat-mdc-input-element {
    color: $off-white !important;
    background-color: transparent;
  }

  label,
  .mat-mdc-form-field-label {
    color: rgba(255, 255, 255, 0.6) !important;
  }

  // Toolbar
  mat-toolbar {
    background: #1e1e1e !important;
    color: $off-white;

    .nav-btn {
      background-color: transparent;
      color: $off-white;
    }

    .title-btn {
      color: $off-white !important;
    }
  }

  // Cards
  mat-card {
    background: #1e1e1e;
    color: $off-white;

    .hint {
      color: $off-white !important;
      background-color: transparent !important;
    }
  }

  // List Items
  mat-list-item {
    background-color: transparent;
    color: $off-white;

    &:hover {
      background-color: rgba(255, 255, 255, 0.08);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.12);
    }

    .title,
    .date,
    .character-name,
    .meta,
    .name {
      color: $off-white;
    }

    .delete-button mat-icon {
      color: lighten($off-white, 10%);
    }
  }

  // Fallback character image
  .character-image {
    background-color: #444;
  }

  // Quill editor
  .ql-container {
    background: #333;
    color: $off-white;
  }

  // Mat slide toggle track and thumb
  .mat-mdc-slide-toggle {
    .mdc-switch__track {
      background-color: rgba(255, 255, 255, 0.3);
    }

    .mdc-switch__thumb {
      background-color: $off-white;
    }
  }
}

.mat-mdc-extended-fab {
  --mdc-extended-fab-container-elevation-shadow: 0 0 0 0 unset;
  --mdc-extended-fab-hover-container-elevation-shadow: 0 0 0 0 unset;
  --mdc-extended-fab-focus-container-elevation-shadow: 0 0 0 0 unset;
  --mdc-extended-fab-pressed-container-elevation-shadow: 0 0 0 0 unset;
  height: 40px !important;
  border-radius: 2rem !important;
}
