/* You can add global styles to this file, and also import other style files */
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";
:root {
  --grey-text: #808080;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.dark-mode {
  background-color: #121212;
  color: #c5c5c5;
}
body.dark-mode mat-sidenav-content,
body.dark-mode mat-sidenav {
  background-color: #121212;
}
body.dark-mode button:disabled {
  color: rgba(255, 255, 255, 0.3) !important;
  border: 1px solid rgba(243, 243, 243, 0.3);
}
body.dark-mode .mobile-btn-container button {
  color: #c5c5c5;
}
body.dark-mode mat-select {
  color: #c5c5c5;
}
body.dark-mode button.mdc-button--outlined {
  color: #c5c5c5;
  background-color: #444;
  border-color: rgba(255, 255, 255, 0.3);
}
body.dark-mode .mdc-icon-button {
  color: #c5c5c5;
}
body.dark-mode input,
body.dark-mode textarea,
body.dark-mode .mat-mdc-input-element {
  color: #c5c5c5 !important;
  background-color: transparent;
}
body.dark-mode label,
body.dark-mode .mat-mdc-form-field-label {
  color: rgba(255, 255, 255, 0.6) !important;
}
body.dark-mode mat-toolbar {
  background: #1e1e1e !important;
  color: #c5c5c5;
}
body.dark-mode mat-toolbar .nav-btn {
  background-color: transparent;
  color: #c5c5c5;
}
body.dark-mode mat-toolbar .title {
  color: #c5c5c5 !important;
}
body.dark-mode mat-card {
  background: #1e1e1e;
  color: #c5c5c5;
}
body.dark-mode mat-card .hint {
  color: #c5c5c5 !important;
  background-color: transparent !important;
}
body.dark-mode mat-list-item {
  background-color: transparent;
  color: #c5c5c5;
}
body.dark-mode mat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
body.dark-mode mat-list-item:active {
  background-color: rgba(255, 255, 255, 0.12);
}
body.dark-mode mat-list-item .title,
body.dark-mode mat-list-item .date,
body.dark-mode mat-list-item .character-name,
body.dark-mode mat-list-item .meta,
body.dark-mode mat-list-item .name {
  color: #c5c5c5;
}
body.dark-mode mat-list-item .delete-button mat-icon {
  color: #dfdfdf;
}
body.dark-mode .character-image {
  background-color: #444;
}
body.dark-mode .ql-container {
  background: #333;
  color: #c5c5c5;
}
body.dark-mode .mat-mdc-slide-toggle .mdc-switch__track {
  background-color: rgba(255, 255, 255, 0.3);
}
body.dark-mode .mat-mdc-slide-toggle .mdc-switch__thumb {
  background-color: #c5c5c5;
}

.mat-mdc-extended-fab {
  --mdc-extended-fab-container-elevation-shadow: 0 0 0 0 unset;
  --mdc-extended-fab-hover-container-elevation-shadow: 0 0 0 0 unset;
  --mdc-extended-fab-focus-container-elevation-shadow: 0 0 0 0 unset;
  --mdc-extended-fab-pressed-container-elevation-shadow: 0 0 0 0 unset;
  height: 40px !important;
  border-radius: 2rem !important;
}