/* You can add global styles to this file, and also import other style files */
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";
:root {
  --grey-text: #808080;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.dark-mode {
  background-color: #121212;
  color: #c5c5c5;
}
body.dark-mode mat-toolbar {
  background: #1e1e1e !important;
  color: #c5c5c5;
}
body.dark-mode mat-toolbar .nav-btn {
  background-color: #c5c5c5;
}
body.dark-mode mat-card {
  background: #1e1e1e;
  color: #c5c5c5;
}
body.dark-mode .ql-container {
  background: #333;
  color: #c5c5c5;
}

.mat-mdc-extended-fab {
  --mdc-extended-fab-container-elevation-shadow: 0 0 0 0 unset;
  --mdc-extended-fab-hover-container-elevation-shadow: 0 0 0 0 unset;
  --mdc-extended-fab-focus-container-elevation-shadow: 0 0 0 0 unset;
  --mdc-extended-fab-pressed-container-elevation-shadow: 0 0 0 0 unset;
  height: 40px !important;
  border-radius: 2rem !important;
}