<mat-card class="draft-list-container" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Saved Drafts</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    @if (!!drafts().length) {
    <mat-list>
      <mat-list-item
        *ngFor="let draft of drafts(); let i = index"
        class="clickable"
        (click)="editDraft(draft.id!)"
      >
        <!-- Title that takes full width -->
        <span class="title" matRipple>{{ draft.title }}</span
        >{{ " "
        }}<span class="date" matListItemLine>{{ draft.timestamp | date }}</span>

        <!-- Delete button on the right -->
        <button
          mat-icon-button
          color="warn"
          class="delete-button"
          (click)="deleteDraft(draft.id!); $event.stopPropagation()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    } @else {
    <ng-container *ngTemplateOutlet="noDrafts"></ng-container>
    }

    <ng-template #noDrafts>
      <div class="empty-box">
        <div class="subtitle">
          <p>You haven't saved any drafts.</p>
          <mat-icon>sentiment_dissatisfied</mat-icon>
        </div>
        <img src="assets/images/empty-icon.svg" class="icon-svg" />
      </div>
    </ng-template>

    <button
      class="new-draft-btn"
      mat-fab
      extended
      color="accent"
      (click)="newDraft()"
    >
      New Draft<mat-icon>add</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
